input, select, textarea {
    width: 100%;
    margin: 5px;
}

select, textarea {
    height: 50px;
}

body img {
  height: 200px;
}
body li {
  font-size: 15px;
}

#top-bar {
  position: fixed ;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.74) 0 0 5px 0px;
  height: 50px;
    z-index: 9999;
}

body { 
    margin-top:60px!important;
}

#top-bar ul li {
  display: inline-block;
  padding: 10px;
  font-size: 200%;
  margin-top: -5px;
}

#top-bar .right {
    float:right;
}

#top-bar .left {
    float: left;
}

#user-options {
    display:none;
}

#top-bar ul.right:hover  #user-options {
    display: block;
}


li.#user-menu {
    clear:both;
    margin:none;
    display: block;
}
#top-bar .searchBox {
  width: 200px;
  float: left;
}

#top-bar form {
  margin: 0;
}

#top-bar .searchBox input {
  height: 38px;
  font-size: 25px;
  text-indent: 2px;
  margin-top: 6px;
  margin-left: 10px;
}

.book-thumbnail img {
  width: 100%;
  height: auto;
}

.card {
	float:left;
 margin: 10px 20px 20px 0;
 width: 30%;
}

.card img {
    width: 100%;
    height: auto;
}

li.comment {
  display: block;
  border-bottom: solid 1px rgb(194, 194, 194);
  padding: 10px;
}

#book-full .details {
  padding-left: 30%;
}

#book-full img {
}

.inline {
	display:inline-block;
}

div#footer {
  height: 44px;
  padding-top: 50px;
  box-shadow: black 1px 1px 4px 1px;
  margin-top: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
}

#bcopy-thumbnail {
    width:100px;
    height:auto;
}

#myModal {
    position : absolute;
}

td.center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.right {
    float: right;
}

h2.panel-heading, .panel-heading h2 {
	margin-top: 0;
}

.author-details {
  font-size: 90%;
  opacity: 0.9;
}

body {
    color:rgba(94, 96, 111, 0.9);
}


.navbar-form {
  margin-top: 2px;
  margin-bottom: 0px;
}

a.btn, button.dropdown-toggle {
    height: 34px;
}

.navbar-right li {
  margin-right: 5px;
  margin-top: 8px;
}

.navbar-right {
    margin-right: 10px;
}
.navbar-right > div {
  float: left;
  margin: 8px 5px;
}

#book .row {
    margin-left:0;
    text-align: justify;
    margin-right: 5px;
}
