input, select, textarea {
    width: 100%;
    margin: 5px;
}

select, textarea {
    height: 50px;
}

body img {
  height: 200px;
}
body li {
  font-size: 15px;
}

#top-bar {
  position: fixed ;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.74) 0 0 5px 0px;
  height: 50px;
}

body { 
    margin-top:60px!important;
}

#top-bar ul li {
  display: inline-block;
  padding: 10px;
  font-size: 200%;
  margin-top: 5px;
}

#top-bar .right {
    float:right;
}

#top-bar .left {
    float: left;
}

#user-options {
    display:none;
}

#top-bar ul.right:hover  #user-options {
    display: block;
}


li.#user-menu {
    clear:both;
    margin:none;
    display: block;
}
#top-bar .searchBox {
  width: 200px;
  float: left;
}

#top-bar form {
  margin: 0;
}

#top-bar .searchBox input {
  height: 38px;
  font-size: 25px;
  text-indent: 2px;
  margin-top: 6px;
  margin-left: 10px;
}

#latest-books .book-thumbnail {
  width: 18%;
}
li.book-thumbnail {
  float: left;
	margin: 5px;
}

.book-thumbnail img {
  width: 100%;
  height: 200px;
}

.book-preview {
  display: block;
  border-bottom: solid 1px black;
  padding: 20px 0;
	min-height:200px;
}

.card {
	float:left;
 margin: 10px 20px 20px 0;
}

.book-preview {
	clear:both;
}

li.comment {
  display: block;
  border-bottom: solid 1px rgb(194, 194, 194);
  padding: 10px;
}

#book-full .details {
  padding-left: 30%;
}

#book-full img {
  width: 25%;
  height: auto;
}

.inline {
	display:inline-block;
}

div#footer {
  height: 44px;
  padding-top: 50px;
  box-shadow: black 1px 1px 4px 1px;
  margin-top: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
}

#bcopy-thumbnail {
    width:100px;
    height:auto;
}

#myModal {
    position : absolute;
}

td.center {
    text-align: center;
}

.full-width {
    width: 100%;
}
