input, select, textarea {
    width: 100%;
    margin: 5px;
}

select, textarea {
    height: 50px;
}

body img {
  height: 200px;
}
body li {
  font-size: 15px;
}

#top-bar {
  position: fixed ;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.74) 0 0 5px 0px;
  height: 50px;
    z-index: 9999;
}

body { 
    margin-top:60px!important;
}

#top-bar ul li {
  display: inline-block;
  padding: 10px;
  font-size: 200%;
  margin-top: -5px;
}

#top-bar .right {
    float:right;
}

#top-bar .left {
    float: left;
}

#user-options {
    display:none;
}

#top-bar ul.right:hover  #user-options {
    display: block;
}


li.#user-menu {
    clear:both;
    margin:none;
    display: block;
}
#top-bar .searchBox {
  width: 200px;
  float: left;
}

#top-bar form {
  margin: 0;
}

#top-bar .searchBox input {
  height: 38px;
  font-size: 25px;
  text-indent: 2px;
  margin-top: 6px;
  margin-left: 10px;
}

.book-thumbnail img {
  width: 100%;
  height: auto;
}

card {
	float:left;
 margin: 10px 20px 20px 0;
max-height: 320px;
overflow:hidden;
}

.card img {
    width: 100%;
    height: auto;
}

li.comment {
  display: block;
  border-bottom: solid 1px rgb(194, 194, 194);
  padding: 10px;
}

#book-full .details {
  padding-left: 30%;
}

#book-full img {
}

.inline {
	display:inline-block;
}

div#footer {
  height: 44px;
  padding-top: 50px;
  box-shadow: black 1px 1px 4px 1px;
  margin-top: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
}

#bcopy-thumbnail {
    width:100px;
    height:auto;
}

#myModal {
    position : absolute;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.right {
    float: right;
}

h2.panel-heading, .panel-heading h2 {
	margin-top: 0;
}

.author-details {
  font-size: 90%;
  opacity: 0.9;
}

body {
    color:rgba(94, 96, 111, 0.9);
}


.navbar-form {
  margin-top: 2px;
  margin-bottom: 0px;
}

a.btn, button.dropdown-toggle {
    height: 34px;
}

.navbar-right li {
  margin-right: 5px;
  margin-top: 8px;
}

.navbar-right {
    margin-right: 10px;
}
.navbar-right > div {
  float: left;
  margin: 8px 5px;
}
#books .image-wrapper, #book .image-wrapper {
	max-height: 300px;
	overflow: hidden;
}

#books .image-wrapper, #book .image-wrapper {
	width: 100%;
	height: auto;
}
#books .row {
    margin-left:0;
    text-align: justify;
	margin: 10px;
}

#book-copy-tabs {
	margin-bottom: 20px;
}

.full-width {
	width: 100%;
}

#book .panel-body {
    margin: 10px 20px;
    text-align: justify;
}

.image-wrapper img {
	width:100%;
	height: auto;
}

#main-banner img {
	width:100%;
	height: auto;
}

#main-banner {
	background: url( "http://images4.alphacoders.com/276/27684.jpg" );
	text-align: center;
	color: white;
	overflow: hidden;
	padding: 10% 0;
	background-size: cover;
    	text-shadow: black 0 0 20px;
	
}
#latest-books .image-wrapper {
    height: 375px;
    background-color: black;
    overflow: hidden;
}

#main-banner h2 {
	margin: 50px;
}

